<%= render 'layouts/header', title: "The Place to Blub" %>

<%= link_to 'Blub a New Blub', new_blub_path, id: "new_blub_link", remote: true %>

<%= will_paginate @blubs %>

<h2>All Blubs</h2>




<table id="blubs">
   <thead>
           <th>Content | </th>
           <th>| Date</th>
           <th></th>
    </thead>

  <tbody class="page">
     <%= render @blubs %>
  </tbody>
</table>
