<%= render 'layouts/header', title: "All your Blubs" %>

<%= link_to 'Blub a New Blub', new_blub_path, id: "new_blub_link", remote: true %>


<h2>Your Blubs</h2>
<div id="blubs_feed">
  <%= render @blubs.reverse %>
</div>
