<tr class="blub">
  <td> <%= blub.content %> </td>
  <td> <%= blub.created_at %> </td>
  <td>
      <% if current_user && current_user.id == blub.user_id %>
      <%= link_to "Harpoon?", blub_path(blub),
                                      :data => { :confirm => "Are you sure?",
                                        :method => 'delete' } %>
    <% end %>
  </td>
</tr>
